:root {
    --background:#fff;
    --background-highlight:#f0f3f9;
    --background-highlight-highlight:#e5eaf5;
    --background-button:#fff;
    --background-modal:linear-gradient(136.61deg,#fff 13.72%,#fff 74.3%);
    --background-modal-highlight:#f8f9fb;
    --background-popup-overlay:hsla(217,6%,59%,.4);
    --shadow-modal-color:rgba(0,0,0,.09);
    --shadow-modal:rgba(0,0,0,.09) 0px 3px 12px;
    --shadow-modal-highlight:rgba(0,0,0,.6) 0px 3px 20px;
    --shadow-card:rgba(0,0,0,.12) 0px 10px 40px -10px;
    --shadow-card-highlight:rgba(0,0,0,.3) 0px 10px 40px -10px;
    --shadow-navbar:0 0 20px rgba(0,0,0,.04);
    --highlight:rgba(0,0,0,.05);
    --highlight-highlight:rgba(0,0,0,.1);
    --highlight-3:rgba(0,0,0,.3);
    --border-modal:#eff1f4;
    --border-highlight:#e7eaee;
    --text:#000;
    --side-background:#fff;
    --side-text:#3c4149;
    --text-sharp:#282a30;
    --text-light:#6b6f76;
    --text-lighter:#929cad;
    --accent:#6e79d6;
    --accent-light:#efeffe;
    --accent-transparent:rgba(113,124,225,.2);
    --accent-semi-transparent:rgba(113,124,225,.5);
    --accent-highlight:#717ce1;
    --text-on-accent:#fff;
    --background-input:#fff;
    --border-input:#dfe1e4;
    --border-input-focused:#2161dc;
    --background-invert:#131415;
    --background-invert-highlight:#2d2f36;
    --text-invert:#d7d8db;
    --text-invert-light:#8a8f98;
    --danger:var(--error-500);
    --danger-transparent:rgba(254,236,240,.3);
    --danger-background:var(--error-25);
    --green:#48c774;
    --dark-transparent:rgba(39,40,43,.6);
    --light-transparent:hsla(225,5%,85%,.6);
    --background-input-dark:#1f2023;
    --border-input-dark:#3c3f44;
    --border-input-focused-dark:#6499ff;
    --text-white:#d7d8db;
    --box-transition:opacity .3s,width .2s cubic-bezier(.175,.885,.32,1.275),height .2s cubic-bezier(.175,.885,.32,1.275),transform .2s cubic-bezier(.175,.885,.32,1.275);
    --background-light-theme:#fff;
    --text-light-theme:#000;
    --background-dark-theme:#131415;
    --text-dark-theme:#d7d8db;
    --shadow-color-unicorn:#f18099;
    --shadow-color-nebula:#b664b0;
    --shadow-color-water:#67b7e5;
    --shadow-color-candy:#9d8eee;
    --shadow-color-melon:#5cd4ac;
    --shadow-color-orange:#fa9e34;
    --shadow-color-yellow:#f7cc5c;
    --shadow-color-green:#23cfa4;
    --shadow-color-blue:#06c1ff;
    --shadow-color-indigo:#6968f7;
    --shadow-color-purple:#8a24ff;
    --shadow-color-pink:#f54b94;
    --shadow-color-red:#f32e60;
    --shadow-color-black:#000;
    --shadow-color-white:rgba(0,0,0,.2);
    --shadow-color-accent:#6e79d6;
    --neutral-25:#fff;
    --neutral-50:#fafafa;
    --neutral-100:#f5f5f5;
    --neutral-200:#ebebeb;
    --neutral-300:#e0e0e0;
    --neutral-400:#ccc;
    --neutral-500:#aaa;
    --neutral-600:grey;
    --neutral-700:#555;
    --neutral-800:#2a2a2a;
    --neutral-900:#000;
    --primary-25:#dfdffc;
    --primary-50:#c9c9fa;
    --primary-100:#aeaef7;
    --primary-200:#9493f4;
    --primary-300:#7978f2;
    --primary-400:#5e5def;
    --primary-500:#4e4ec7;
    --primary-600:#3f3e9f;
    --primary-700:#2f2f78;
    --primary-800:#1f1f50;
    --primary-900:#131330;
    --error-25:#fed5d5;
    --error-50:#fdbaba;
    --error-100:#fc9797;
    --error-200:#fb7474;
    --error-300:#fa5252;
    --error-400:#f92f2f;
    --error-500:#d02727;
    --error-600:#a61f1f;
    --error-700:#7d1818;
    --error-800:#531010;
    --error-900:#320909;
    --warning-25:#ffefd3;
    --warning-50:#fee5b5;
    --warning-100:#fed790;
    --warning-200:#feca6c;
    --warning-300:#fdbd47;
    --warning-400:#fdb022;
    --warning-500:#d3931c;
    --warning-600:#a97517;
    --warning-700:#7f5811;
    --warning-800:#543b0b;
    --warning-900:#332307;
    --success-25:#d0f1e1;
    --success-50:#d0f1e1;
    --success-100:#88dbb5;
    --success-200:#61cf9c;
    --success-300:#39c383;
    --success-400:#12b76a;
    --success-500:#0f9858;
    --success-600:#0c7a47;
    --success-700:#095c35;
    --success-800:#063d23;
    --success-900:#042515;
    --red-25:#fdd5df;
    --red-50:#fbb9ca;
    --red-100:#f997b0;
    --red-200:#f77495;
    --red-300:#f5517b;
    --red-400:#f32e60;
    --red-500:#ca2650;
    --red-600:#a21f40;
    --red-700:#7a1730;
    --red-800:#510f20;
    --red-900:#310913;
    --orange-25:#feecd6;
    --orange-50:#fddfbb;
    --orange-100:#fdce9a;
    --orange-200:#fcbe78;
    --orange-300:#fbae56;
    --orange-400:#fa9e34;
    --orange-500:#d0842b;
    --orange-600:#a76923;
    --orange-700:#7d4f1a;
    --orange-800:#533511;
    --orange-900:#32200a;
    --green-25:#d3f5ed;
    --green-50:#b6efe0;
    --green-100:#91e7d1;
    --green-200:#6cdfc2;
    --green-300:#48d7b2;
    --green-400:#23cfa3;
    --green-500:#1dac88;
    --green-600:#178a6d;
    --green-700:#116751;
    --green-800:#0c4536;
    --green-900:#042515;
    --blue-25:#ccf3ff;
    --blue-50:#abeaff;
    --blue-100:#80e0ff;
    --blue-200:#56d5ff;
    --blue-300:#2ccbff;
    --blue-300:#02c1ff;
    --blue-400:#02c1ff;
    --blue-500:#02a1d5;
    --blue-600:#0181aa;
    --blue-700:#016080;
    --blue-800:#014055;
    --blue-900:#002733;
    --indigo-25:#dfdffc;
    --indigo-50:#c9c9fa;
    --indigo-100:#aeaef7;
    --indigo-200:#9493f4;
    --indigo-300:#7978f2;
    --indigo-400:#5e5def;
    --indigo-500:#4e4ec7;
    --indigo-600:#3f3e9f;
    --indigo-700:#2f2f78;
    --indigo-800:#1f1f50;
    --indigo-900:#131330;
    --purple-25:#e8d3ff;
    --purple-50:#d8b6ff;
    --purple-100:#c492ff;
    --purple-200:#b16dfe;
    --purple-300:#9d49fe;
    --purple-400:#8a24fe;
    --purple-500:#731ed4;
    --purple-600:#5c18a9;
    --purple-700:#45127f;
    --purple-800:#2e0c55;
    --purple-900:#1c0733;
    --pink-25:#fddbea;
    --pink-50:#fbc3db;
    --pink-100:#faa4c9;
    --pink-200:#f886b8;
    --pink-300:#f66ba6;
    --pink-400:#f44a94;
    --pink-500:#cb3e7b;
    --pink-600:#a33163;
    --pink-700:#7a254a;
    --pink-800:#511931;
    --pink-900:#310f1e;
    --color-border:var(--neutral-400);
    --color-border-light:var(--neutral-300);
    --color-text-light:var(--neutral-800);
    --color-surface-raised:var(--neutral-25);
    --color-background-input:var(--neutral-25);
    --elevation-surface-raised:0px 0px 0px transparent,0px 1px 1px rgba(3,4,4,.5),0px 0px 1px rgba(3,4,4,.5);
    color:var(--text);
    font-family:Inter,Helvetica,Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Noto Color Emoji,Segoe UI Symbol,Android Emoji,EmojiSymbols,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Noto Sans,sans-serif;
    font-size:16px;
    font-weight:400;
    font-style:normal;
    line-height:1.5;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    text-size-adjust:100%;
    box-sizing:border-box;
    margin:0;
    padding:0
}
[data-theme=dark] .typedream.content{
    --background:#131415;
    --background-highlight:#2c2c30;
    --background-highlight-highlight:#393941;
    --background-button:#1f2124;
    --background-modal:linear-gradient(136.61deg,#27282b 13.72%,#2d2e31 74.3%);
    --background-modal-highlight:#37373c;
    --background-popup-overlay:rgba(28,29,31,.5);
    --shadow-modal-color:rgba(0,0,0,.2);
    --shadow-modal:rgba(0,0,0,.35) 0px 7px 32px 0px;
    --shadow-modal-highlight:rgba(0,0,0,.6) 0px 7px 32px 0px;
    --shadow-navbar:0 0 20px rgba(0,0,0,.4);
    --highlight:hsla(0,0%,100%,.05);
    --highlight-highlight:hsla(0,0%,100%,.1);
    --highlight-3:hsla(0,0%,100%,.3);
    --border-modal:#303236;
    --text:#fff;
    --side-background:#131415;
    --side-text:#d7d8db;
    --text-light:#8a8f98;
    --text-lighter:#757783;
    --text-sharp:#fff;
    --accent:#7381ff;
    --accent-light:#1d1e33;
    --accent-transparent:rgba(115,129,255,.2);
    --accent-semi-transparent:rgba(115,129,255,.5);
    --accent-highlight:#8995ff;
    --text-on-accent:#fff;
    --background-input:#1f2023;
    --border-input:#3c3f44;
    --border-input-focused:#6499ff;
    --background-invert:#fff;
    --background-invert-highlight:#f0f3f9;
    --text-invert:#3c4149;
    --text-invert-light:#6b6f76;
    --danger:var(--error-300);
    --danger-transparent:rgba(204,15,53,.3);
    --danger-background:var(--error-800);
    --shadow-color-unicorn:#000;
    --shadow-color-nebula:#000;
    --shadow-color-water:#000;
    --shadow-color-candy:#000;
    --shadow-color-melon:#000;
    --shadow-color-orange:#000;
    --shadow-color-yellow:#000;
    --shadow-color-green:#000;
    --shadow-color-blue:#000;
    --shadow-color-indigo:#000;
    --shadow-color-purple:#000;
    --shadow-color-pink:#000;
    --shadow-color-red:#000;
    --shadow-color-black:#000;
    --shadow-color-white:#000;
    --shadow-color-accent:#000;
    --neutral-900:#fff;
    --neutral-800:#ccc;
    --neutral-700:#646668;
    --neutral-600:#43474b;
    --neutral-500:#3e4246;
    --neutral-400:#35383b;
    --neutral-300:#35383b;
    --neutral-200:#303335;
    --neutral-100:#26282b;
    --neutral-50:#1d1e20;
    --neutral-25:#131415;
    --color-border:var(--neutral-600);
    --color-border-light:var(--neutral-500);
    --color-text-light:var(--neutral-800);
    --color-surface-raised:var(--neutral-400);
    --color-background-input:var(--neutral-200);
    --elevation-surface-raised:0px 0px 0px transparent,0px 1px 1px rgba(3,4,4,.5),0px 0px 1px rgba(3,4,4,.5)
}

/* .metadata:hover {
    text-decoration: underline;
} */